<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="./css/styles.css">
    <title>Mercado Liebre - Registro</title>
</head>
<body>
    <header class="header-home">
        <div class="top-bar">
            <div class="logo-container">
                <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo"></a>
            </div>
            <div class="text">
                <form class="form-inline" action="/buscador" method="post">
                    <input class="form-control form-control-sm border-0" type="text" name="buscador" id="buscador" value="" placeholder="Buscar productos, marcas y más">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <p class="cuerpo-texto"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="nav-principal">
            <ul class="list-nav-principal">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="list-nav-login">
                <li><a href="/iniciar">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="register container-fluid py-3 bg-light text-dark">
            <form class="register-form row justify-content-center" action="/" method="post">
                <div class="col-7 mx-auto d-flex flex-column mb-3">
                    <label for="name" class="form-label"></label>
                    <input type="text" class="form-control form-control-sm border-0" name="name" id="name" value="" placeholder="Nombre y apellido" required>
                    <span class="text-danger">El nombre y apellido son obligatorios.</span>
                </div>
                <div class="col-7 mx-auto d-flex flex-column mb-3">
                    <label for="username" class="form-label"></label>
                    <input type="text" class="form-control form-control-sm border-0" name="username" id="username" value="" placeholder="Nombre de usuari@" required>
                    <span class="text-danger">Por favor introduzca un nombre de usuario.</span>
                </div>
                <div class="col-7 mx-auto d-flex flex-column mb-3">
                    <label for="email" class="form-label"></label>
                    <input type="email" class="form-control form-control-sm border-0" name="email" id="email" value="" placeholder="E-mail" required>
                    <span class="text-danger">Por favor introduzca un email válido.</span>
                </div>
                <div class="col-7 mx-auto d-flex flex-column mb-3">
                    <label for="dateOfBirth" class="form-label">Fecha de nacimiento</label>
                    <input type="date" class="form-control form-control-sm border-0" name="dateOfBirth" id="dateOfBirth" value="" required>
                    <span class="text-danger">La fecha de nacimiento es obligatoria.</span>
                </div>
                <div class="col-7 mx-auto d-flex  flex-column mb-3">
                    <label for="adress" class="form-label"></label>
                    <input type="text" class="form-control form-control-sm border-0" name="adress" id="adress" value="" placeholder="Domicilio" required>
                    <span class="text-danger">Por favor introduzca un domicilio válido.</span>
                </div>
                <div class="col-7 mx-auto d-flex row mb-3 p-0">
                    <h5>Perfil del usuario</h5>
                    <div class="col-6">
                        <input class="form-check-input" type="radio" name="userProfile" id="comprador" value="" required>
                        <label class="form-check-label" for="comprador">Comprador</label>
                    </div>
                    <div class="col-6">
                        <input class="form-check-input" type="radio" name="userProfile" id="vendedor" value="" required>
                        <label class="form-check-label" for="vendedor">Vendedor</label>
                    </div>
                </div>
                <div class="col-7 mx-auto d-flex flex-column mb-3">
                    <h5>Intereses</h5>
                    <div>
                        <input class="form-check-input " type="checkbox" name="interest" id="electro" value="">   
                        <label class="form-check-label mx-2" for="electro">Electro</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="checkbox" name="interest" id="moda" value="">
                        <label class="form-check-label mx-2" for="moda">Moda</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="checkbox" name="interest" id="hogar" value="">
                        <label class="form-check-label mx-2" for="hogar">Hogar</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="checkbox" name="interest" id="juguteria" value="">
                        <label class="form-check-label mx-2" for="juguteria">Juguetería</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="checkbox" name="interest" id="vidaSana" value="">
                        <label class="form-check-label mx-2" for="vidaSana">Vida sana</label>
                    </div>
                </div>
                <div class="col-7 mx-auto d-flex flex-column mb-3">
                    <h5>Foto de usuario</h5>
                    <label for="avatar" class="form-label"></label>
                    <input type="file" class="form-control form-control-sm" name="avatar" id="avatar" value="avatar" accept=".jpg, .png">
                </div>
                <div class="col-7 mx-auto d-flex flex-column mb-3">
                    <label for="password" class="form-label"></label>
                    <input type="password" class="form-control form-control-sm border-0" name="password" id="password" value="" placeholder="Contraseña" required>
                    <span class="text-danger">La contraseña es obligatoria.</span>
                </div>
                <div class="col-7 mx-auto d-flex flex-column mb-3">
                    <label for="confirmPass" class="form-label"></label>
                    <input type="password" class="form-control form-control-sm border-0" name="confirmPass" id="confirmPass" value="" placeholder="Confirmar contraseña" required>
                    <span class="text-danger">Las contraseñas no coinciden.</span>
                </div>
                <div class="col-7 mx-auto d-flex justify-content-center  mb-3 gap-3">
                    <button type="submit" class="btn btn-custom-blue">Enviar datos</button>
                    <button type="reset" class="btn btn-custom-gray">Borrar todo</button>
                </div>
            </form>
    </main>
    <footer class="footer-home">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section class="copyright">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
    <!-- SCRIPT BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>