/* ------------- FOOTER HOME --------------- */
/* ------ MOBILE-VIEW --------- */
.home-body {}

.footer-home {
}

.footer-home section {
    text-align: center;
    margin: 10px;
}

.footer-home section i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--celeste);
}

.footer-home section h3 {
    color: var(--grisOscuro);
    margin: 0px;
}

.footer-home section p {
    color: var(--grisOscuro);
    font-size: var(--descripciones);
    margin: 0px;
}

/* ------ SECCIÓN COPYRIGHT --------- */

.footer-home section.copyright {
    text-align: justify;
    margin-left: 10px;
}

.footer-home section.copyright h3 {
    font-size: var(--cuerpoTexto);
    margin-top: 40px;
}

/* ------ TABLET-VIEW --------- */
@media (min-width: 361px) {
    .home-body {}

    .footer-home {}
    
    .footer-home section {}
    
    .footer-home section i {}
    
    .footer-home section h3 {}
    
    .footer-home section p {}
    
    /* ------ SECCIÓN COPYRIGHT --------- */
    
    .footer-home section.copyright {}
    
    .footer-home section.copyright h3 {}
}


/* ------ DESKTOP-VIEW --------- */

@media (min-width: 769px) {
    .home-body {}

    .footer-home {}
    
    .footer-home section {}
    
    .footer-home section i {}
    
    .footer-home section h3 {}
    
    .footer-home section p {}
    
    /* ------ SECCIÓN COPYRIGHT --------- */
    
    .footer-home section.copyright {}
    
    .footer-home section.copyright h3 {}

}