:root {
  /*------PALETA DE COLORES------*/
  --amarillo: #EAC926;
  --azul: #03264C;
  --celeste: #1259c3;
  --grisOscuro: #666;
  --grisClaro: #ebebeb;
  --verde: #39b54a;
  --blanco: white;
  /*------TIPOGRAFIA------*/
  --familyRoboto: "Roboto", sans-serif;
  /*------TAMAÑOS TIPOGRAFICOS------*/
  --cuerpoTexto: 12px;
  --titulares: 24px;
  --precios: 18px;
  --descuentos: 16px;
  --descripciones: 16px;
}

* {
  font-family: var(--familyRoboto);
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}