/* ------------- HEADER HOME --------------- */

/* ------ MOBILE-VIEW --------- */

.home-body {}

.header-home {
    background-color: var(--amarillo);
    padding: 25px;
}

.header-home img.logo {
    width: 134px;
    margin: 0 0 10px 0;
}

.header-home div {}

.header-home div input {
    width: 180px;
    text-align: center;
}

.header-home button {}

.header-home button i {
}

.header-home p.cuerpo-texto {
    text-align: center;
    font-size: var(--cuerpoTexto);
}

.header-home .nav-principal {
}

.header-home .nav-principal ul.list-nav-principal {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-home .nav-principal .list-nav-principal li {
    display: none;
}

.header-home .nav-principal .list-nav-principal li a {}

.header-home .secondary-nav  {}

.header-home .secondary-nav ul.list-nav-login {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-home .secondary-nav .list-nav-login li {}

.header-home .secondary-nav .list-nav-login li a {
    display: none;
}

.header-home div.burger-menu {
    text-align: center;
}

.header-home div.burger-menu i {
    color: var(--blanco);
    margin: 10px;
    padding: 10px;
    background-color: var(--celeste);
}

/* ------ TABLET-VIEW --------- */

@media (min-width: 361px) {
    .home-body {}
    
    .header-home {}
    
    .header-home img.logo {
        width: 191px;
    }

    .header-home div {}
    
    .header-home div input {}
    
    .header-home button {}
    
    .header-home button i {}
    
    .header-home p.cuerpo-texto {}
    
    .header-home .nav-principal {
        margin-top: 30px;
    }
    
    .header-home .nav-principal ul.list-nav-principal {}
    
    .header-home .nav-principal .list-nav-principal li {
        display: block; 
    }
    
    .header-home .nav-principal .list-nav-principal li a {}
    
    .header-home .secondary-nav  {}
    
    .header-home .secondary-nav ul.list-nav-login {}
    
    .header-home .secondary-nav .list-nav-login li {}
    
    .header-home .secondary-nav .list-nav-login li a {
        display: block;
    }
    
    .header-home div.burger-menu {
        display: none;
    }
    
    .header-home div.burger-menu i {}

}

/* ------ DESKTOP-VIEW --------- */

@media (min-width: 769px) {
    .home-body {}
    
    .header-home {}
    
    .header-home img.logo {}

    .header-home div {}
    
    .header-home div input {}
    
    .header-home button {}
    
    .header-home button i {}
    
    .header-home p.cuerpo-texto {}
    
    .header-home .nav-principal {}
    
    .header-home .nav-principal ul.list-nav-principal {}
    
    .header-home .nav-principal .list-nav-principal li {}
    
    .header-home .nav-principal .list-nav-principal li a {}
    
    .header-home .secondary-nav  {}
    
    .header-home .secondary-nav ul.list-nav-login {}
    
    .header-home .secondary-nav .list-nav-login li {}
    
    .header-home .secondary-nav .list-nav-login li a {}
    
    .header-home div.burger-menu {}
    
    .header-home div.burger-menu i {}

}