/* ------------- HEADER HOME --------------- */

/* ------ MOBILE-VIEW --------- */

.home-body {}

.header-home {
    background-color: var(--amarillo);
    padding: 25px;
}

.header-home div.top-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.header-home .top-bar .logo-container {
    width: 50%;
    max-width: 40vw;
}

.header-home .top-bar .logo-container img.logo {
    /* width: 100%; */
}

.header-home div.top-bar div.text {
    width: 48%;
}

.header-home .top-bar .text form {
    display: flex;
}

.header-home .top-bar .text form input {}

.header-home .top-bar .text form button {
}

.header-home .top-bar .text form button i {}

.header-home div.top-bar p.cuerpo-texto {
    text-align: center;
    font-size: var(--cuerpoTexto);
}

.header-home div.top-bar p.cuerpo-texto i {}

.header-home .nav-principal {
    display: none;
}

.header-home .nav-principal ul.list-nav-principal {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-home .nav-principal .list-nav-principal li {}

.header-home .nav-principal .list-nav-principal li a {}

.header-home .nav-principal ul.list-nav-login {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-home .nav-principal .list-nav-login li {}

.header-home .nav-principal .list-nav-login li a {}

.header-home div.burger-menu {
    text-align: center;
}

.header-home div.burger-menu i {
    color: var(--blanco);
    margin: 10px;
    padding: 10px;
    background-color: var(--celeste);
}

/* ------ TABLET-VIEW --------- */

@media (min-width: 361px) {
    .home-body {}

    .header-home {}
    
    .header-home div.top-bar {}
    
    .header-home .top-bar .logo-container {
        max-width: 32vw;
    }
    
    .header-home .top-bar .logo-container img.logo {}
    
    .header-home div.top-bar div.text {
    width: 29%;
}
    
    .header-home .top-bar .text form {}

    .header-home .top-bar .text form input {
    }
    
    .header-home .top-bar .text form button {}
    
    .header-home .top-bar .text form button i {}
    
    .header-home div.top-bar p.cuerpo-texto {}
    
    .header-home div.top-bar p.cuerpo-texto i {}
    
    .header-home .nav-principal {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .header-home .nav-principal ul.list-nav-principal {
        display: flex;
        flex-wrap: wrap;
    }
    
    .header-home .nav-principal .list-nav-principal li {
        margin: 0 5px;
    }
    
    .header-home .nav-principal .list-nav-principal li a {}
    
    .header-home .nav-principal ul.list-nav-login {
        display: flex;
        flex-wrap: wrap;
    }
    
    .header-home .nav-principal .list-nav-login li {
        margin: 0 5px;
    }
    
    .header-home .nav-principal .list-nav-login li a {}
    
    .header-home div.burger-menu {
        display: none;
    }
    
    .header-home div.burger-menu i {}

}

/* ------ DESKTOP-VIEW --------- */

@media (min-width: 769px) {
    .home-body {}

    .header-home {}
    
    .header-home div.top-bar {
        justify-content: space-between;
    }
    
    .header-home .top-bar .logo-container {
        max-width: 33vw;
    }
    
    .header-home .top-bar .logo-container img.logo {}
    
    .header-home div.top-bar div.text {
    width: 29%;
}

    .header-home .top-bar .text form {}
    
    .header-home .top-bar .text form input {}
    
    .header-home .top-bar .text form button {}
    
    .header-home .top-bar .text form button i {}
    
    .header-home div.top-bar p.cuerpo-texto {}
    
    .header-home div.top-bar p.cuerpo-texto i {}
    
    .header-home .nav-principal {}
    
    .header-home .nav-principal ul.list-nav-principal {}
    
    .header-home .nav-principal .list-nav-principal li {}
    
    .header-home .nav-principal .list-nav-principal li a {}
    
    .header-home .nav-principal ul.list-nav-login {}
    
    .header-home .nav-principal .list-nav-login li {}
    
    .header-home .nav-principal .list-nav-login li a {}
    
    .header-home div.burger-menu {}
    
    .header-home div.burger-menu i {}

}