/* ------ MOBILE-VIEW --------- */

.main-home {
  background-color: var(--grisClaro);
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.main-home img.banner {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ------ SECCIÓN BASADO EN TU ULTIMA VISITA --------- */

.main-home section.ultima-visita {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main-home section.ultima-visita h2 {
  text-align: center;
  font-size: var(--titulares);
  color: var(--grisOscuro);
}

.main-home section.ultima-visita article.product {
  background-color: var(--blanco);
  margin: 15px 0;
  width: 100%;
}

.main-home section.ultima-visita article.product img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-home section.ultima-visita article.product div.description {
  border-top: 1px solid var(--grisClaro);
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px;
  position: relative;
  align-items: center;
}

.main-home section.ultima-visita .product .description i {
  color: var(--verde);
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--verde);
  background-color: var(--blanco);
  border-radius: 50%;
  position: absolute;
  left: 73vw;
  top: -17px;
}

.main-home section.ultima-visita .product .description .precio {
  font-size: var(--precios);
  width: 30%;
}

.main-home section.ultima-visita .product .description .descuentos {
  color: var(--verde);
  font-size: var(--descuentos);
  width: 70%;
  text-wrap: nowrap;
}

.main-home section.ultima-visita .product .description h4 {
  color: var(--grisOscuro);
  display: none;
  margin-top: 15px;
}

/* ------ SECCIÓN OFERTAS --------- */

.main-home section.ofertas {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main-home section.ofertas h2 {
  text-align: center;
  font-size: var(--titulares);
  color: var(--grisOscuro);
}

.main-home section.ofertas article.product {
  background-color: var(--blanco);
  margin: 15px 0;
  width: 100%;
}

.main-home section.ofertas .product img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-home section.ofertas .product .description {
  border-top: 1px solid var(--grisClaro);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 15px;
  position: relative;
}

.main-home section.ofertas .product .description i {
  color: var(--verde);
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--verde);
  background-color: var(--blanco);
  border-radius: 50%;
  position: absolute;
  left: 71vw;
  top: -17px;
}

.main-home section.ofertas .product div.description .precio {
  font-size: var(--precios);
  width: 30%;
}

.main-home section.ofertas .product .description .descuentos {
  font-size: var(--descuentos);
  color: var(--verde);
  width: 70%;
  text-wrap: nowrap;
}

.main-home section.ofertas .product .description h4 {
  color: var(--grisOscuro);
  display: none;
  margin-top: 15px;
}

/* ------ MEDIA QUERIES --------- */


/* ------ TABLET-VIEW --------- */

@media (min-width: 361px) {
  .main-home {}
  
  .main-home img.banner {}
  
  /* ------ SECCIÓN BASADO EN TU ULTIMA VISITA --------- */
  
  .main-home section.ultima-visita {
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto;
    justify-content: center;
    gap: 10px 17px;
  }
  
  .main-home section.ultima-visita h2 {
    text-align: start;
    width: 92%;
  }
  .main-home section.ultima-visita article.product {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 43.6%;
    margin: 6px 6px;
  }
  
  .main-home section.ultima-visita article.product img {
}
  
  .main-home section.ultima-visita article.product div.description {}
  
  
  .main-home section.ultima-visita .product .description i {
    left: 30vw;
  }
  
  .main-home section.ultima-visita .product .description .precio {}
  
  .main-home section.ultima-visita .product .description .descuentos {
    padding-left: 30px;
  }
  
  .main-home section.ultima-visita .product .description h4 {
    display: block;
  }
  
  /* ------ SECCIÓN OFERTAS --------- */
  
  .main-home section.ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px auto;
    gap: 10px 17px;
  }
  
  .main-home section.ofertas h2 {
    text-align: start;
    width: 92%;
  }
  
  .main-home section.ofertas article.product {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 43.6%;
    margin: 6px 6px;
  }
  
  .main-home section.ofertas .product img {}
  
  .main-home section.ofertas .product .description {}
  
  .main-home section.ofertas .product .description i {
    left: 30vw;
  }
  
  .main-home section.ofertas .product div.description .precio {}
  
  .main-home section.ofertas .product .description .descuentos {
    padding-left: 31px;
  }
  
  .main-home section.ofertas .product .description h4 {
    display: block;
  }

}

/* ------ DESKTOP-VIEW --------- */

@media (min-width: 769px) {
  .main-home {}
  
  .main-home img.banner {}
  
  /* ------ SECCIÓN BASADO EN TU ULTIMA VISITA --------- */
  
  .main-home section.ultima-visita {}
  
  .main-home section.ultima-visita h2 {}
  
  .main-home section.ultima-visita article.product {
    width: 21.4%;
  }
  
  .main-home section.ultima-visita article.product img {}
  
  .main-home section.ultima-visita article.product div.description {}
  
  .main-home section.ultima-visita .product .description i {
    left: 14vw;
  }
  
  .main-home section.ultima-visita .product .description .precio {}
  
  .main-home section.ultima-visita .product .description .descuentos {
    padding-left: 35px;
  }
  
  .main-home section.ultima-visita .product .description h4 {}
  
  /* ------ SECCIÓN OFERTAS --------- */
  
  .main-home section.ofertas {}
  
  .main-home section.ofertas h2 {}
  
  .main-home section.ofertas article.product {
    width: 21.4%;
  }
  
  .main-home section.ofertas .product img {}
  
  .main-home section.ofertas .product .description {}
  
  .main-home section.ofertas .product .description i {
    left: 14vw;
  }
  
  .main-home section.ofertas .product div.description .precio {}
  
  .main-home section.ofertas .product .description .descuentos {}
  
  .main-home section.ofertas .product .description h4 {}

}